/* Add screen styles below */
a.active {
    font-weight: bold;
}
body{
    background-color: #424B54;
}

.card {
    background: #C5BAAF;
    color: #424B54;
    margin: 0 auto;
    width: 500px;

}

h1{
    background: #B38D97;
    padding: 20px;
}